.example-spacer {
    flex: 1 1 auto;
  }
.color {
  color: white;
}

* {
  width: min-content;
}
#menu{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  * {
    :not(mat-divider) {
      justify-content: center;
      width: min-content;
    }
    mat-divider {
      width: 100%;
    }
  }
}