<app-bodyBase>
    <div>
        <h1>DB Testing</h1>
        <div>
            <h3>JSON Collection Test</h3>
            <ul >
                <li>V Name: {{(testCollect| async)?.Name}} V</li>
                <li *ngFor="let item of (testCollect | async)?.Data;index as i">Item {{i}}: {{item}}</li>
            </ul>
        </div>
    </div>
    <div>
        <h1>Security Testing</h1>
        <app-loginBoxes></app-loginBoxes>
        <app-registerBoxes></app-registerBoxes>
    </div>
</app-bodyBase>