#homeBody {
    width: 100%;
    height: 100%;
}

#homeContent {
    width: 80%;
    height: 95%;
    transform: translate(calc(15%),calc(2%));
    border-radius: 15px;
    padding-left: 20px;
    padding-top: 20px;
    
}