<div id="loginWrapper" [className]="(accentTheme | async)">
  <h2 class="loginHeader">Login</h2>
  <form class="loginForm" method="post" [formGroup]="loginForm" (ngSubmit)="loginForm.reset()" >
    <div class="usernameDiv" >
      <input 
        type="text"
        name="username"
        id="username" 
        placeholder="username*"
        formControlName="username"
      />
    </div>
    <div class="error" *ngIf="username?.invalid && (username?.dirty ||!username?.pristine)">
      Username not long enough
    </div>
    <div class="passwordDiv">
      <input
        type="password"
        name="password"
        id="password"
        placeholder="password*"
        formControlName="password"
      />
    </div>
    <div class="error" *ngIf="password?.invalid && (password?.touched || password?.dirty)">
      Password not long enough
    </div>

    <button mat-button [class]="(hoverTheme | async)" [disabled]="password?.invalid || username?.invalid" (click)="login()" type="submit">Submit</button>
  </form>
</div>
