<div>
  <h3>Login</h3>
  <form method="post" [formGroup]="loginForm" >
    <div>
      <input
        type="text"
        name="username"
        id="username"
        placeholder="username"
        formControlName="username"
      />
    </div>
    <div *ngIf="username?.invalid && (username?.touched || username?.dirty)">
      Username not long enough
    </div>
    <div>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="password"
        formControlName="password"
      />
    </div>
    <div *ngIf="password?.invalid && (password?.touched || password?.dirty)">
      Password not long enough
    </div>
    <button mat-button [class]="(hoverTheme | async)" [disabled]="username?.invalid || password?.invalid" (click)="login()" type="submit">Submit</button>
  </form>
</div>
