<div>
    <h3>Login</h3>
    <div><input type="text" name="usernameL" id="usernameL" placeholder="username" [value]="usernameL"></div>
    <div><input type="text" name="passwordL" id="passwordL" placeholder="password" [value]="passwordL"></div>
</div>
<div>
    <h3>Register</h3>
    <div><input type="text" name="usernameR" id="usernameR" placeholder="username" [value]="usernameR"></div>
    <div><input type="text" name="passwordR" id="passwordR" placeholder="password" [value]="passwordL"></div>
</div>